.list-item{
    background: #e2ff41;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    border-bottom: 2px rgb(21, 20, 20) solid;
    border-radius: 10px;
}
.item-name{
    margin: 0;
}
.description {
    font-style: italic;
}
.price{
    margin-top: 0.3rem;
}